body{
    background-color: rgba(128, 0, 128, 0.336);
    font-family: sofia;
    text-shadow: 3px 3px 3px rgba(128, 0, 128, 0.295);
    color: purple;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }

  h2{
    font-family:Brush Script MT;
    font-size:40pt;
    font-weight: bold;
    color: purple;
    text-shadow: 3px 3px 3px  rgba(128, 0, 128, 0.336);
    
  }
  
  div{
    border-radius: 1px;
  

  }
  
  span{
    color: red;
    
  }

  
div.Mydiv3{
    background-color: white;
    border: 3px solid purple;
    margin:10px;
    border-radius: 10px;
    padding:50px;
    width:500px;
    height:200px;

  }
  

  img{
    width: 130px;
    height: 150px;
    position: absolute;
    right: 20px;
    top: 20px;
    
  }


  .Mydiv {
    border: 3px solid purple;
    margin:20px;
    border-radius: 10px;
    padding:40px;
    width:500px;
    background-color: white;
    
  }

  
      .button {
    background-color: white;
    border: 2px solid purple;
    color: purple;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    left: 300px;
    font-family: sofia;

  }


.button:hover {
  background-color: rgb(209, 192, 228);
  color:purple;
  }
  

.button4{
    
    left: 110px;
    top: 50px;

  }

.button1{
    
    left: 255px;
    top: 50px;

  }

#otherMaterial {
  display: none;
}

#otherLanguage {
  display: none;
}

#otherOLanguage {
  display: none;
}

div.item {
  min-width: 200px;
  width: 20%;
  height: 450px;
  background-color: #purple;
  float: left;
  margin: 10px;
  padding: 10px;
  position: relative;
}
  

#paintingDataContainer div.item {
  background-color: purple;
}

#bookDataContainer div.item {
  background-color: yellow ;
}

#otherDataContainer {
  display: none;
}

div.item button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

div.item button.edit {
  right: 70px;
}

span.item {
  line-height: 16px;
  font-size: 14px;
}

span.item b {
  margin-right: 10px;
}

span.undefined {
  color: blue;
}